<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список товаров</title>
</head>
<body>
<h2>Список товаров</h2>

<a th:href="@{/admin/create-product}">Создать новый товар</a>

<a th:href="@{/admin/orders}">Просмотр заказов</a>
<br>
<br>
<table class="table">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td>
            <a th:href="@{/admin/edit(id=${product.id},name=${product.name},price=${product.price})}">Изменить</a>
            <a th:href="@{/admin/delete/{id}(id=${product.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<br />
<br>
<br>
<a th:href="@{/admin/logout}">Вернуться в меню</a>
</body>
</html>
