<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список заказов</title>
</head>
<body>
<h2>Список заказов</h2>

<table class="table">
    <thead>
    <tr>
        <th>Номер заказа</th>
        <th>Фамилия клиента</th>
        <th>Имя клиента</th>
        <th>Дата заказа</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.client.surname}"></td>
        <td th:text="${order.client.name}"></td>
        <td th:text="${order.dateTime.toString}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
