<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список товаров</title>
</head>
<body>
<h2>Список товаров</h2>

<table class="table">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td>
            <a th:href="@{/consumer/ordering(productId=${product.id},name=${product.name},price=${product.price})}">Купить</a>
        </td>
    </tr>
    </tbody>
</table>

<br />
<a th:href="@{/consumer/logout}">Вернуться в меню</a>
</body>
</html>
