<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Успешная покупка</title>
</head>
<body>
<h1>Поздравляем с успшной покупкой!</h1>
<a th:href="@{/consumer/catalog}">Вернуться в магазин</a>
</body>
</html>