<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<h1>Добро пожаловать!</h1>
<a th:href="@{/consumer/catalog}">Войти как покупатель</a><br>
<a th:href="@{/admin/login}">Войти как админ</a><br>
</body>
</html>